.header{
    background-color: black;
    color: green;
}

.nav{
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.nav a{
    text-decoration: none; /*убираем подчеркивание у ссылок меню*/
    color: aqua;
}

.nav a:hover{
    color: rgb(95, 95, 230);
}

.brand{
    padding: 0 1rem;
    font-size: 25px;
}

.status{
    flex: auto; /* занимает весь предоставленный размер */
    text-align: center;
    color: brown;
    /* padding: 0 0.5rem; */
    /* background-color: aliceblue; */
}

.avatar{
    flex: auto; /* занимает весь предоставленный размер */
    text-align: center;
    color: brown;
    padding: 0 0.5rem;
    /* background-color: aliceblue; */
}

.avatar img{
    border-radius: 50%;
}

.nav__list{
    /* background-color: antiquewhite; */
    display: flex; /* переводим список в горизонтальный варинат*/
    flex-grow: 0; /* размер  блока который занимает список */
    list-style: none; /* убираем точку - поинт в пунктах меню */
    align-items: center;
    justify-content: flex-end; /* приклеиваем список меню к правой стороне */
}

.nav_item{
    padding: 0 1rem;
}

.main{
    display: flex;
}

.sidebar{
    padding: 1rem;
    background-color: rgb(52, 49, 49);
    
}

.sidebar_list{
    /* display: flex; переводим список в горизонтальный варинат */
    /* flex-grow: -10; размер  блока который занимает список */
    list-style: none; 
    align-items: left;
    justify-content: flex-start;
    color: green;
    padding-left: 1rem;
}

.section{
    background-color: rgb(68, 59, 59);
    flex:auto; 
    padding: 1rem;
    color: aliceblue;
  }

.form {
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
}
  
.label {
    display: flex;
    margin-top: 10px;
    position: relative;
  }
  
.label__title {
    width: 50px;
    margin-right: 33px;
    font-weight: normal;
  }
    
.label__input,
.textarea {
    padding: 3px;
    border-radius: 5px;
    border: 2px solid #343435;
  }
  
.form__submit {
    font-weight: normal;
    margin-bottom: 3rem;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: #f3f3f3;
    border: 2px solid #b9b9ba;
    cursor: pointer;
    margin: 2rem 6rem;
  }
  
.label__hint {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 300px;
    padding: 6px;
    width: 130px;
    background-color: #d45252;
    color: white;
    text-align: center;
    vertical-align: center;
    opacity: 0;
  }
  
.label__hint::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #d45252;
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
  }
  
.label__input:invalid + .label__hint {
    opacity: 1;
  } 


.sidebar_li{
    color: green;;
}

.sidebar_li a{
    text-decoration: none; /*убираем подчеркивание у ссылок меню*/
    color:  green;
}

.sidebar_li a:hover{
    color: rgb(147, 198, 147);
}

.label_chat_name{
    display: flex;
    color: green;
}
